<h1>Confirm Your Email Address</h1>
<div>
  <div>
    <p>Hey <%= params[:user].first_name %>,</p>
    <p>Thanks for signing up to Bible Reading Log. To get started, please confirm that <span style="font-weight:500"><%= params[:user].email %></span> is your email address by clicking the link below.</p>
    <%= link_to "Confirm Email Address", verify_email_confirmation_token_url(token: params[:token]) %>
  </div>
  <br>
  <div>
    <p>You can also copy and paste the link directly in your browser. Please ensure that you are signed in.</p>
    <p><%= verify_email_confirmation_token_url(token: params[:token]) %></p>
  </div>
</div>