<div>
  Hey <%= params[:user].first_name %>,
  <br>
  <br>
  Thanks for signing up. Please take a second to make sure we have your correct email address.
  <br>
  <br>
  <%= link_to "Confirm Email Address", verify_email_confirmation_token_url(token: params[:token]) %>
  <br>
  <br>
  If you didn't request this email, you can safely ignore it.
</div>