<% render_title "Need Help?" %>
<%= render(PageActionsHeaderComponent.new(title: "Home", path: root_path)) %>
<%= render(PageHeaderComponent.new(title: "Need Help?", description: "Please take a moment to share your thoughts, suggestions, or feature ideas.")) %>

<p><a class="underline" href="mailto:paul@biblereadinglog.com">paul@biblereadinglog.com</a></p>
