<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Home</h1>
  <%= button_to "Log out", log_out_path, method: :delete, class: "border rounded py-1 px-3" %>
</div>
<div class="mb-4 font-mono mt-4">
  <p class="text-sm">Signed in as <%= current_user.email %></p>
</div>

<%= turbo_frame_tag :books, src: books_path, loading: :lazy do %>
  <div class="text-2xl animate-pulse text-center mt-20">Loading...</div>
<% end %>