<section data-controller="cache" class="max-w-4xl mx-auto">
  <div class="mb-4">
    <%= render(HeadingComponent.new(title: "Books")) %>
  </div>
  <div class="justify-between -space-y-1 sm:space-y-0 flex flex-col sm:flex-row flex-wrap sm:space-x-6">
    <div class="flex-1">
      <% @old_testament_books.each do |book| %>
        <%= render(BookCardComponent.new(book: book )) %>
      <% end %>
    </div>
    <div class="flex-1">
      <% @new_testament_books.each do |book| %>
        <%= render(BookCardComponent.new(book: book )) %>
      <% end %>
    </div>
  </div>
</section>