<section class="max-w-lg mx-auto">
  <div data-controller="cache" class="mb-4">
    <%= render(HeadingComponent.new(title: "Books")) %>
  </div>

  <div class="justify-between -space-y-1 xs:space-y-0 flex flex-col xs:flex-row flex-wrap xs:space-x-4">
    <div class="flex-1">
      <% @old_testament_books.each do |book| %>
        <%= render(BookCardComponent.new(book: book )) %>
      <% end %>
    </div>
    <div class="flex-1">
      <% @new_testament_books.each do |book| %>
        <%= render(BookCardComponent.new(book: book )) %>
      <% end %>
    </div>
  </div>
</section>