<div class="relative">
  <div class="border-b mt-11 mb-11 mx-auto"></div>
  <h4 class="bg-white border shadow-sm text-neutral-600 px-2.5 py-1 rounded-lg text-center mb-2 uppercase absolute -translate-x-1/2 top-[-16px] left-1/2">Books</h4>
</div>