<div class="border bg-stone-50 border-dashed px-4 py-10 rounded-lg text-center ">
  <p class="opacity-40 text-lg">
    <% if @has_no_status %>
        Get started by starring the books you are currently reading.
    <% else %>
        You don't have any starred books.
    <% end %>
    </p>
</div>