<% if @reading_log.is_reminder_enabled && @reading_log.reminder_scheduled_at %>
  <div class="inline-flex items-center border mb-2 space-x-2  border-stone-400 rounded-md text-sm text-stone-800 bg-stone-100 px-3 py-1">
    <svg class="w-[16px] h-[16px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
    <span>Upcoming reminder <%= render_next_occurrence(@reading_log.reminder_scheduled_at) %></span>
  </div>
<% end %>