<% if @reading_log.is_reminder_enabled && @reading_log.reminder_scheduled_at %>
  <div class="border border-sky-300 rounded-md text-sm text-sky-800 bg-sky-100 px-2 py-1 inline-block">
    <div class="">Upcoming reminder <%= render_next_occurrence(@reading_log.reminder_scheduled_at) %></div>
  </div>
<% end %>