<%= content_for :title, "Edit #{@reading_log.name}" %>

<div class="flex space-x-2 mb-4">
  <%= link_to "Go Back", reading_log_path(@reading_log), class: "back-link" %>
</div>

  <h1 class="heading mb-0">Settings</h1>
