<div class="mb-4 flex justify-between">
  <%= render(HeadingComponent.new(title: "Home")) %>
  <%= link_to new_reading_log_path, class: "btn btn--primary w-auto" do %>
    <span>New Reading Log</span>
  <% end %>
</div>
<% @reading_logs.each do |reading_log| %>
  <%= link_to reading_log_path(reading_log), class: "bg-white shadow-sm border py-4 px-5 rounded-md block mb-5" do %>
    <p class="text-2xl font-medium">Reading Log</p>
    <span class="text-sm opacity-60">Started on <%= format_date(reading_log.created_at) %></span>
  <% end %>
<% end %>