<div class="text-center mt-20">
  <% if @reading_log.present? %>
    <h1 class="text-2xl mb-3">You've been invited to join this Reading Log</h1>
    <h1 class="font-semibold text-4xl mb-8"><%= @reading_log.name %></h1>
    <%  @is_reading_log_member %>
    <% if @is_reading_log_member %>
      <p class="">You are already part of this reading log</p>
    <% else %>
      <%= button_to "Join Reading Log", root_path, method: :get, class: "w-fit btn btn--primary" %>
    <% end %>
  <% else %>
    <p>Sorry, that reading log doesn't exist.</p>
  <% end %>
</div>