<%= render(HeadingComponent.new(title: "Settings")) %>
<div class="mb-4 font-mono mt-4">
  <p class="text-sm">Signed in as <%= current_user.email %></p>
</div>
<%= button_to "Log out", log_out_path, method: :delete, class: "border rounded py-1 px-3" %>

