<div data-turbo-temporary>
  <% flash.each do |flash_type, message| %>
    <div data-controller="flash" class="container--flash <%= (flash_type == "notice") ? "flash-green" : "flash-red" %> <%= local_assigns[:custom_top_class] %>">
      <% if flash_type == "notice" %>
        <svg class="min-w-5 w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
      <% else %>
        <svg class="min-w-5 w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
      <% end %>
      <span><%= message %></span>
    </div>
  <% end %>
</div>