<div class=" border-neutral-200 p-8 bg-neutral-50 rounded-lg">
  <p class="flex items-center space-x-3 text-xl font-semibold text-gray-800 mb-3">
    <%= icon %>
    <span>
      <%= title %>
    </span>
  </p>
  <p class="text-gray-600">
    <%= description %>
  </p>
</div>
