<%= link_to path, class: "flex items-center space-x-3" do %>
  <%= image_tag '/logo.png', alt: 'Bible Reading Log', class: 'max-w-[40px]' %>
  <span class="text-xl font-semibold">Bible Reading Log</span>
<% end %>
