<%= render "container" do %>
  <h2 class="text-3xl font-bold mb-4">Download Bible Reading Log</h2>
  <p>This app does not have an Android or iOS app. However, you can install the it on mobile or desktop for a more app-like experience. It will be downloaded as a Progressive Web App (PWA).</p>

  <h3 class="text-2xl font-semibold mt-10 mb-2">Installation Instructions</h3>
  <div class="space-y-8">
    <div>
      <h4 class="text-lg font-semibold mt-4 mb-2">Desktop Chrome</h4>
      <ul class="list-decimal list-inside">
        <li>Visit this site.</li>
        <li>In the address bar, look for the install icon (a computer with a down arrow).</li>
        <li>Click the icon and confirm the installation.</li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mt-4 mb-2">Safari Mac</h4>
      <ul class="list-decimal list-inside">
        <li>Visit this site.</li>
        <li> Go to the menu bar, select File > Add to Dock...</li>
        <li>Confirm the name and tap 'Add'.</li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mt-4 mb-2">Safari iOS</h4>
      <ul class="list-decimal list-inside">
        <li>Visit this site.</li>
        <li>Tap the Share button (square with an arrow pointing up).</li>
        <li>Select 'Add to Home Screen'.</li>
        <li>Confirm the name and tap 'Add'.</li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mt-4 mb-2">Android Chrome</h4>
      <ul class="list-decimal list-inside">
        <li>Visit this site.</li>
        <li>Tap the menu button (three vertical dots) in the upper right corner.</li>
        <li>Select 'Add to Home screen'.</li>
        <li>Confirm the name and tap 'Add'.</li>
      </ul>
    </div>
  </div>
<% end %>
