<%= turbo_frame_tag "book-header-#{book.id}" do %>
  <div class="font-semibold mb-2 text-lg space-x-2 flex items-center">
    <div><%= book.name %></div><div class="opacity-40 font-normal"><%= book.chapters_data.count { |data| data["completed_at"].present? } %>/<%= book.chapters_count %></div>
  </div>
<% end %>