<div class="font-semibold mb-2 text-lg space-x-2 flex items-center">
  <div><%= book.name %></div><div class="opacity-40 font-normal"><%= book.chapters.count %>/<%= book.chapters_count %></div>
</div>
