<%= button_to toggle_chapter_reading_log_book_path(book.reading_log, book, chapter_number: chapter_data["chapter_number"], is_completed: chapter_data["completed_at"].present?), method: :patch, class: "w-full h-full text-left py-2.5 px-4 flex items-center space-x-4", form: { id: book_checklist_square_turbo_frame_id(book, chapter_data["chapter_number"]), class: "#{ theme_values[:square] if chapter_data["completed_at"]} hover:bg-gray-50 border shadow-sm rounded-lg inline-flex items-center justify-center text-lg cursor-pointer duration-100 hover:scale-[102%]" } do %>
  <% if chapter_data["completed_at"].present? %>
    <svg class="w-[20px] h-[20px] stroke-emerald-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><path d="m9 11 3 3L22 4"/></svg>
  <% else %>
    <svg class="w-[20px] h-[20px] stroke-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dashed"><path d="M10.1 2.182a10 10 0 0 1 3.8 0"/><path d="M13.9 21.818a10 10 0 0 1-3.8 0"/><path d="M17.609 3.721a10 10 0 0 1 2.69 2.7"/><path d="M2.182 13.9a10 10 0 0 1 0-3.8"/><path d="M20.279 17.609a10 10 0 0 1-2.7 2.69"/><path d="M21.818 10.1a10 10 0 0 1 0 3.8"/><path d="M3.721 6.391a10 10 0 0 1 2.7-2.69"/><path d="M6.391 20.279a10 10 0 0 1-2.69-2.7"/></svg>
  <% end %>
  <span><%= "#{book.name} #{chapter_data["chapter_number"]}" %></span>
<% end %>
