<%= turbo_frame_tag book_progress_line_turbo_frame_id(book) do %>
  <div class=" bg-gray-100 h-[8px] rounded-lg w-full group-hover:bg-gray-200">
    <div class="<%= theme_values[:line] %> w-full h-full rounded-full" style="width:<%= book.completed_chapter_percentage %>%"></div>
  </div>
<% end %>
