<div class="font-semibold text-lg space-x-2 flex items-center <%= 'text-4xl' if local_assigns[:show_page] %>">
  <div><%= book.name %></div><div class="opacity-40 font-normal"><%= book.chapters_data.count { |data| data["completed_at"].present? } %>/<%= book.chapters_count %></div>
</div>