<section class="max-w-lg mx-auto">
  <header>
    <%= turbo_frame_tag "book-header-#{@book.id}" do %>
      <%= render "books/book_chapter_header", book: @book, show_page: true %>
    <% end %>
  </header>
  <div class="mt-5">
    <% @book.chapters_data.each do |chapter_data| %>
      <%= render "books/book_chapter_form", book: @book, chapter_data: chapter_data %>
    <% end %>
  </div>
  <div class="mt-4">
    <%= link_to root_path, class: "opacity-80 underline" do %>
      &larr; Go back to all books
    <% end %>
  </div>
</section>