<section data-controller="cache">
  <div class="mb-4">
    <%= link_to root_path, class: "opacity-60" do %>
      &larr; Back
    <% end %>
  </div>
  <%= turbo_frame_tag "book-header-#{@book.id}",  data: { turbo_temporary: true} do %>
    <%= render "books/book_chapter_header", book: @book, show_page: true %>
  <% end %>
  <div class="mt-5">
    <% @book_data["chapters_count"].times.each do |chapter_number| %>
      <%= render "books/book_chapter_form", book: @book, chapter_number: chapter_number + 1 %>
    <% end %>
  </div>
</section>