@import "tailwindcss";

@layer base {
  .field {
    @apply mb-6;
  }

  .label {
    @apply text-neutral-800 font-semibold block mb-0.5 text-sm;
  }

  .input {
    @apply focus:outline-2 disabled:opacity-60 disabled:bg-neutral-100 rounded-sm focus:outline-black w-full focus:border-transparent block border border-neutral-300 px-3 py-2;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2020%2020'%20stroke='currentColor'%3e%3cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='1.5'%20d='M6%208l4%204%204-4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.25em 1.25em;
    padding-right: 2.5rem; /* so text doesn't overlap the arrow */
  }

  .link {
    @apply text-neutral-700 hover:text-black hover:underline cursor-pointer;
  }

  .button {
    @apply cursor-pointer bg-black text-white rounded-sm px-4 py-2 hover:bg-neutral-800;
  }

  .button--gray {
    @apply cursor-pointer bg-neutral-100 text-neutral-800 rounded-sm px-4 py-2 hover:bg-neutral-200;
  }

  .button--danger {
    @apply cursor-pointer bg-red-700 text-white rounded-sm px-4 py-2 hover:bg-red-800;
  }
}

@layer components {
  .heading {
    @apply text-3xl font-bold mb-6;
  }
}
