<!DOCTYPE html>
<html> 
  <%= render "layouts/head" %>

  <body class="p-6">
    <div class="max-w-md mx-auto w-full sm:mt-4">
      <%= render 'pages/header_logo', path: root_path %>
      <div class="mt-16">
        <%= render 'ui/flash' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
