<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="p-6 pb-10">
    <div class="bg-amber-400 -mx-7 -mt-7 mb-7 text-center p-4 font-bold">
      <p>This project is under construction. Please check back soon for updates!</p>
    </div>
    <%= yield %>
  </body>
</html>
